<h1>My events</h1>
<table>
	<tr>
		<td>name (click on the name of an event to edit)</td>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td> <%= link_to event.first.name, event_path(event.first.id)%></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add new event", new_event_path%>

<%= link_to "home page", user_path(current_user)%>