<h1>Events#index</h1>
<table>
	<tr>
		<td>name</td>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td> <%= link_to event.name, event_path(event.id)%></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add new event", new_event_path%>
<%= link_to "user page", index_user_path%>